@font-face {
    font-family: Gilroy;
    font-weight: normal;
    src: url(../../../../../Users/TEXHIKA/Desktop/Новая папка (2)/fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: Gilroy;
    font-weight: 500;
    src: url(../../../../../Users/TEXHIKA/Desktop/Новая папка (2)/fonts/Gilroy-Medium.ttf);
}
